body{
    margin:0;
    display:block;
    width:100%;
    height:100%;
    padding:0;
    user-select:none;
    overflow:hidden;
}
.actionbar{
    display:grid;
    width:100%;
    height:45px;
    box-shadow:1px 0px 8px #848484;
    grid-template-columns:20% 60% 20%;
    overflow:normal;
}
bars{
    width:50%;
    height:60%;
    display:block;
    background:white;
    margin:7% auto;
    /*box-shadow:inset 0px 0px 3px #8D8D8D;*/
    border-radius:5px;
    position:relative;
    overflow:hidden;
}
bars::after{
    content:"";
    width:80%;
    height:3px;
    background:#4C4C4C;
    position:absolute;
    display:block;
    top:5px;
}bars::before{
    content:"";
    width:80%;
    height:3px;
    background:#4C4C4C;
    position:absolute;
    display:block;
    top:13px;
}
bar{
    width:80%;
    height:3px;
    background:#4C4C4C;
    position:absolute;
    display:block;
    top:21px;
}
name{
    display:block;
    color:#868686;
    background:;
    width:70%;
    height:100%;
    font-size:33px;
    padding-top:2px;
    box-sizing:border-box;
    font-family:Times New Roman;
    font-variant:small-caps;
}
menu{
    width:75%;
    height:100%;
    position:fixed;
    top:-20px;
    right:-100%;
    background:#fff;
    display:block;
    border-top:10px solid #9C9C9C;
    box-shadow:0px 4px 6px #8C8C8C;
    transition-duration:0.5s;
    padding-left:5px;
    
}
nav{
    width:60%;
    box-shadow:0px 0px 1px #AFAFAF;
    border-radius:4px;
    margin:10px 0px;
    float:left;
    position:relative;
    display:inline-block;
    padding:8px 50px 8px 5px;
    border-left:8px solid #979797;
    font-family:Times New Roman;
    font-feature-settings:"smcp"on;
    transition-duration:0.3s;
    user-select:none;
    display:block;
    
}
nav:active{
    background:#B1B1B1;
    color:white;
}
logo{
    display:block;
    width:100%;
    height:200px;
    background:#A4A4A4;
    margin-left:-4px;
    position:relative;
}
new{
    padding-left:5px;
    border-width:1.4px;
    border-color:#808080;
    border-style:solid;
    margin-left:2px;
    border-radius:5px;
}
h{
    color:#606060;
    font-family:Times New Roman;
    position:absolute;
    bottom:20px;
    left:20px;
    font-size:34px;
    text-transform:uppercase;
    border-right:5px solid #424242;
    padding-right:7px;
    border-radius:7px;
    user-select:none;
}
descript{
    position:absolute;
    bottom:2px;
    left:140px;
    font-size:16px;
    font-variant:small-caps;
    text-transform:capitalize;
    color:#1F3965;
}
logo embed{
    widows:1;
    width:100%;
    height:100%;
}
layout{
    display:block;
    width:100%;
    height:100%;
    overflow:hidden;
    background:white;
}
other{
    display:none;
    width:100%;
    height:100%;
    background:white;
    position:absolute;
    top:100%;
    transition-duration:0.5s;
    box-shadow:0px 0px 7px #7C7C7C;
    overflow:scroll;
    padding:5;
}
toggle{
    width:50px;
    height:50px;
    border-radius:50px;
    box-shadow:0px 0px 5px #5B5B5B;
    display:block;
    top:90%;
    left:80%;
    position:relative;
    background:white;
}
toggle::before{
    content:"";
    width:20px;
    height:20px;
    border:2px solid #8B8B8B;
    position:relative;
    margin:auto;
    display:block;
    top:8px;
    border-top:none;
    border-left:none;
    transform:rotate(40deg);
}
view{
    display:block;
    width:100%;
    height:100%;
    padding-bottom:20px;
    background:transparent;
    margin-top:-50px;
    overflow:scroll;
}
view h1{
    font-size:23px;
    font-weight:350;
    line-height:35px;
  }
view artical{
    display:block;
    width:fit-content;
    height:fit-content;
    padding:5px;
    margin:30px auto;
    box-shadow:0px 0px 6px #9D9D9D;
    border-radius:5px;
}
view li{
    list-style-position:inside;
    list-style-type:circle;
    font-size:16px;
    color:#003C6C;
}
view p{
    font-size:14px;
    user-select:auto;
    text-indent:35px;
}
ul{
    padding:10px;
    margin:10px auto;
    box-sizing:border-box;
    display:block;
    box-shadow:0px 0px 7px #A1A1A1;
    width:99%;
}
greet{
    display:block;
    position:relative;
    font-size:25px;
    text-align:right;
    font-weight:250;
    color:#421D31;
    box-sizing:border-box;
    padding-right:15px;
}
view embed{
    display:block;
    margin:auto;
}
view h2{
    font-weight:300;
    border-top:1px solid black;
}
content{
    width:100%;
    height:100%;
    overflow:normal;
    font-size:16px;
    display:block;
}
ds{
    font-weight:350;
    font-size:22px;
    padding-left:5px;
    padding-bottom:5px;
    color:#48558B;
    display:none;
    float:right;
    width:fit-content;
    padding:0px 10px;
    background:#818181;
    color:white;
    border-radius:5px;
    margin-right:5%;
    border-top-left-radius:10px;
}
content embed{
    width:90%;
    height:auto;
    display:block;
    margin:2px auto;
    border-radius:5px;
}
content p{
    padding:10px;
    box-sizing:border-box;
    text-indent:15px;
    font-size:14px;
    white-space:pre-line;
    overflow-x:hidden;
}
footer{
    display:block;
    width:90%;
    height:150px;
    box-shadow:0px 0px 6px #808080;
    margin:10px auto;
    margin-bottom:80px;
    border-radius:5px;
    white-space:pre;
    color:#ADADAD;
    overflow:hidden;
    position:relative;
}
content artical{
    box-shadow:0px 0px 6px #5E5E5E;
    display:block;
    width:98%;
    height:fit-content;
    margin:6px auto;
    border-radius:5px;
    padding-top:10px;
}
ScrollView{
    width:100%;
    height:100%;
    display:block;
    overflow:scroll;
    background:block;
}
ads{
    display:block;
    height:fit-content;
    margin:5px auto;
    border-radius:5px;
    box-shadow:0px 0px 6px #818181;
    width:85%;
    font-size:15px;
    text-align:center;
    white-space:pre-wrap;
    line-height:25px;
    color:#6C5A11;
    padding:5px 10px;
}
footer embed{
    width:45%;
    height:auto;
    position:absolute;
    top:-2px;
    left:5px;
}
footer artical{
    box-shadow:none;
}
footer p{
    width:55%;
    height:170px;
    display:inline;
    overflow:hidden;
    text-overflow:ellipsis;
    position:absolute;
    right:0px;
    top:0px;
}
view artical{
    width:99%;
    height:fit-content;
    overflow:scroll;
    box-shadow:0px 0px 7px #848484;
    display:block;
    margin:auto;
    border-radius:5px;
    white-space:pre-wrap;
}
view artical embed{
    width:95%;
    height:auto;
    display:block;
    margin:8px auto;
}
input[type="text"]{
    outline:none;
    border:1px solid #6F6F6F;
    border-radius:5px;
    width:80%;
    height:46px;
    margin:10px;
    font-size:23px;
    box-sizing:border-box;
    padding-left:10px;
}
card{
    display:grid;
    width:90%;
    height:fit-content;
    box-shadow:0px 0px 6px #626262;
    border-radius:5px;
    margin:5px auto;
    grid-template-columns:93% auto;
}
card search{
    left:-40px;
    top:12px;
}
result{
    width:100%;
    height:fit-content;
    overflow:scroll;
}
showAs{
    display:block;
    width:95%;
    height:250px;
    margin:6px auto;
    box-shadow:0px 0px 6px #777777;
    border-radius:5px;
    overflow:hidden;
    padding:5px;
    box-sizing:border-box;
    
}
showAs p{
    white-space:normal;
    position:static;
    margin-top:-50px;
    text-indent:0px;
}
showAs artical embed{
    width:150px;
    height:auto;
    float:left;
    white-space:auto;
    position:relative;
    margin:5px;
}
showAs artical{
    box-shadow:none;
}